@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .button, .button-top {
        @apply
            w-[300px] m-2
            bg-white rounded-lg
            text-black text-center font-bold
            
            hover:bg-gray-200
            active:bg-white

            md:w-[500px]
            md:h-10
            md:mt-[60px]
            md:text-3xl
            md:rounded-2xl
    }

    .button-top {
        @apply
            mt-8
    }
}
