@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cardDisplay {
    @apply 
        w-full

        flex flex-col items-center

        xl:flex-row
        xl:justify-center
        xl:items-start
    }

    .card {
        @apply 
            flex flex-col items-center

            md:m-8
    }

    .title {
        @apply
            font-bold text-[90px]
            
            md:p-4
            md:text-9xl
    }

    .table {
        @apply 
            border-2 
            w-[350px]
            p-4

            md:p-8
            md:w-[600px]
            md:min-w-[600px]
    }

    .name, .price, .heading {
        @apply
            flex justify-center
    }

    .name, .price {
        @apply
            p-1

            md:p-1.5
    }

    .heading {
        @apply
            text-center 
            font-bold
        
            pb-2 
    }

    .heading * {
        @apply
            text-xl

            md:text-xl
    }

    .heading .name {
        @apply
            border-r-2 border-black
    }

    .name {
        @apply 
            text-center
            w-3/4 border-r-2 border-white
            pr-2

            md:pr-6
    }

    .price {
        @apply 
            flex-row items-center
            w-1/4 
            text-center
            pl-5

            md:pl-8
    }
}
