@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cardDisplay {
    @apply 
        w-full

        flex flex-col items-center

        lg:flex-row
        lg:justify-center
        lg:items-start
    }

    .card {
        @apply 
            m-8 
            flex flex-col items-center
    }

    .card .title {
        @apply
            font-bold text-9xl lg:text-9xl
            p-4
    }

    .card .table {
        @apply 
            border-2 p-8 
            w-[600px] min-w-[600px]
    }

    .name, .price{
        @apply
            text-lg
            p-1
    }

    .card .table .name {
        @apply 
            flex items-center justify-center 
            w-3/4 border-r-2 border-white
            text-center 
    }

    .card .table .price {
        @apply 
            flex flex-row justify-center items-center
            w-1/4 
            text-center 
    }

    .card .table .heading {
        @apply
            flex text-center 
            font-bold text-2xl
            pb-7
    }
}

/* Mobile CSS */
/*
@media (max-width: 768px){
    .cardDisplay {
    @apply text-center bg-blue-500 text-white p-4 rounded;
    }

    .card {
        @apply
    }

    .card .title {
        @apply
    }

    .card .elements {
        @apply
    }

    .card .elements .name {
        @apply
    }

    .card .elements .price {
        @apply
    }
}
*/